@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* <h2>We are learning <span style="color : orange;">@Model.CourseName</span> in Maktab <span style="color : orange;">@Model.Id</span></h2> *@
    @* <h2>The user is <span style="color : orange;">@TempData["User"]</span></h2> *@
</div>
